@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media (width > 768px) {
        body {
         background-image: 
            url('assets/image-hero-tablet.png');
         background-repeat: no-repeat;
         background-size: 500px;
         background-position: 
            top -50px right -220px;
        } 
    }
}